*{
margin:0px;
padding:0px;
}
body{
width:1336px;
margin:0 auto;
padding:0px;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color:#8ad5fc ;
	
}
header{
	background: url(../img/wzshouyetu1.jpg) no-repeat;
	background-size: 1336px 637px;
	height: 637px;
	box-sizing: border-box;
	position: relative;
}
header .header_wz{
	position: absolute;
	top:180px;
	left: 324px;
	font-size: 52px;
	color: #1f1f1f;
	width: 718px;
	background: url(../img/wzshouyetu2.png) no-repeat ;
	background-size: 718px 164px;
	text-align: center;
	box-sizing: border-box;
	height: 164px;
	line-height: 164px;
}
header .header_p1{
	position: absolute;
	top:190px;
	left:500px;
	font-size: 28px;
	color:#1f1f1f ;
}
header .header_search{
	width: 500px;
	height: 50px;
	position: absolute;
	left:380px ;
	top:500px ;
	font-size: 24px;
	padding-left: 10px;
}
header .header_submit{
	height: 50px;
	width: 90px;
	position: absolute;
	top:500px  ;
	left:870px ;
	background: #8ad5fc;
	font-size: 24px;
	color: #1f1f1f;
	border: none;
}
header .header_pic1{
	width: 56px;
	height: 100px;
	position: absolute;
	top:300px ;
	left: 0;
    	
}
header .header_pic2{
	width: 56px;
	height: 100px;
	position: absolute;
	top:300px;
	right: 0;
	
}
header .header_sp1{
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 10px;
	background: rgba(f,f,f,0.3)
}
.top{
background:rgba(255,255,255,0.6);
height:70px;
line-height:70px;
margin:0 auto;
position:relative;
}
.top img{
margin-bottom:9px;
position:absolute;
left:28px;
top:15px;
}
.top ul{
margin-left:5px;
display:inline-block;

}
.top li{
padding-left:64px;
list-style:none;
float:left;

}
.top li span{
color:#bf1c2d;
}
.top a{
color:#000;
font-size:20px;
text-decoration:none;
}
.top a:hover{
color:#bf1c2d;
}
main{
	width: 1100px;
	height: 520px;
	background:url(../img/wzshouyemain_pic1.jpg) no-repeat;
	background-size:1100px 520px ;
	position: relative;
	margin:50px auto;
	margin-bottom: 0;
	box-sizing: border-box;
}
main .main_pic1{
	width: 380px;
	height: 500px;
	margin:0 355px;
	margin-top: 10px;
}
main .main_p1{
	position: absolute;
	top:60px ;
	left:30px ;
	font-size: 20px;
	line-height: 40px;
	height: 40px;
	width: 90px;
	text-align: center;
	border: 2px solid #8ad5fc;
	margin-left:90px;
	color: white;
}
main .main_p2{
	margin-top:80px;
	position: absolute;
	top:90px ;
	left:45px ;
	font-size: 14px;
	line-height: 30px;
}
main .main_p3{
	position: absolute;
	top:50px ;
	left:500px;
	color: white;
	font-size: 20px;
	line-height: 30px;
}
main .main_p4{
	position: absolute;
	top:90px ;
	left:600px ;
	font-size: 20px;
	line-height: 30px;
	color: #d5d6d7;
}
main .main_p5{
	margin-top: 20px;
	position: absolute;
	top:130px ;
	left:400px ;
	font-size: 20px;
	line-height: 30px;
}
main .main_p6{
	margin-top: 20px;
	position: absolute;
	top:330px ;
	left:610px ;
	font-size: 20px;
	line-height: 30px;
	color: white;
}
main .main_p7{
	margin-top: 20px;
	position: absolute;
	top:380px ;
	left:660px ;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	background: #8ad5fc;
	width: 50px;
}
main .main_p8{
	margin-top: 20px;
	position: absolute;
	top:50px ;
	left:780px ;
	color: white;
	font-size: 14px;
	line-height: 30px;
}
.remen .remen_top{
	width: 1100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	margin: 0 auto;
}
.remen .remen_main{
	width: 1100px;
	height: 600px;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	overflow: visible;
}
.remen .remen_pic1{
	width: 350px;
	height: 280px;
	position: absolute;
	top: 0;
	left: 0px;
}
.remen .remen_pic2{
	width: 350px;
	height: 280px;
	position: absolute;
	top: 0;
	left:373px;
}
.remen .remen_pic3{
	width: 350px;
	height: 280px;
	position: absolute;
	top: 0;
	left: 753px;
}
.remen .remen_pic4{
	width: 480px;
	height: 290px;
	position: absolute;
	top:305px;
	left: 0px;
}
.remen .remen_pic5{
	width: 284px;
	height: 290px;
	position: absolute;
	top:305px;
	left: 505px;
}
.remen .remen_pic6{
	width: 284px;
	height: 290px;
	position: absolute;
	top: 305px;
	left: 814px;
}
.remen .remen_p1{
	position: absolute;
	top: 100px;
	left: 120px;
	color: white;
	font-size: 28px;
}
.remen .remen_p2{
	position: absolute;
	top: 150px;
	left: 60px;
	color: white;
	font-size: 18px;
}
.remen .remen_p3{
	position: absolute;
	top: 50px;
	left: 500px;
	color: white;
	font-size: 28px;
}
.remen .remen_p4{
	position: absolute;
	top: 110px;
	left: 540px;
	color: white;
	font-size: 18px;
}
.remen .remen_p5{
	position: absolute;
	top: 50px;
	left: 857px;
	color: white;
	font-size: 18px;
}
.remen .remen_p6{
	position: absolute;
	top: 100px;
	left: 867px;
	color: white;
	font-size: 28px;
}
.remen .remen_p7{
	position: absolute;
	top: 380px;
	left: 300px;
	color: white;
	font-size: 28px;
}
.remen .remen_p8{
	position: absolute;
	top: 450px;
	left:280px;
	color: white;
	font-size: 16px;
}
.remen .remen_p9{
	position: absolute;
	top: 380px;
	left: 600px;
	color: white;
	font-size: 28px;
}
.remen .remen_p10{
	position: absolute;
	top: 450px;
	left: 580px;
	color: white;
	font-size: 18px;
}
.remen .remen_p11{
	position: absolute;
	top: 380px;
	left: 870px;
	color: white;
	font-size: 18px;
}
.remen .remen_p12{
	position: absolute;
	top: 440px;
	left: 890px;
	color: white;
	font-size: 28px;
}
.dingzhi{
	height: 800px;
	width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;
}
.dingzhi .dingzhi_top{
	width: 1366px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	box-sizing: border-box;
}
.dingzhi .dingzhi_sp{
	font-size: 20px;
}
.dingzhi .dingzhi_main{
	width:100%;
	height:740px;
	background: url(../img/wzsydingzhitu1.jpg) no-repeat;
	background-size: 1366px 740px;
	position: relative;
	box-sizing: border-box;
}
.dingzhi .dingzhi_pic1{
	position:absolute ;
	top:20px ;
	left:60px ;
	width:300px;
	height:200px;
	border: 8px solid white;
	transform: rotate(10deg);
	z-index:2;
	transition: all 1s ease-in;
}
.dingzhi .dingzhi_pic2{
	width:300px;
	height:200px;
	position:absolute ;
	top:25px ;
	left:410px ;
	border: 8px solid white;
	transform: rotate(-10deg);
	z-index:2;
	transition: all 1s ease-in;
}
.dingzhi .dingzhi_pic3{
	width:300px;
	height:200px;
	position:absolute ;
	top:20px ;
	left:755px ;
	border: 8px solid white;
	transform: rotate(10deg);
	z-index:2;
	transition: all 1s ease-in;
}
.dingzhi .dingzhi_pic4{
	z-index:2;
	width:200px;
	height:280px;
	position:absolute ;
	top:300px ;
	left:200px ;
	border: 8px solid white;
	transform: rotate(18deg);
	transition: all 1s ease-in;
}
.dingzhi img:hover{
	transform: rotate(0deg) scale(1.5);
	z-index: 3;
	
}
.dingzhi form{
	width:500px ;
	height:400px ;
    background: rgba(0,0,0,0.4);
    position: absolute;
    bottom:30px;
    right: 230px;
}
.dingzhi .dingzhi_p1{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	margin-top: 30px;
}
.dingzhi .dingzhi_input1{
	display: block;
	width: 300px;
	height: 30px;
	margin: 20px auto;
	padding-left: 5px;
}

.dingzhi .dingzhi_input2{
	display: block;
	width: 300px;
	height: 30px;
	margin: 20px auto;
	padding-left: 5px;
}
.dingzhi .dingzhi_input3{
	display: block;
	width: 300px;
	height: 30px;
	margin: 20px auto;
	padding-left: 5px;
}
::-moz-placeholder { color: #999; }
::-webkit-input-placeholder { color: #999; }
:-ms-input-placeholder { color: #999; }

.dingzhi textarea{
	width: 300px;
	height: 120px;
	margin: 0px 97px;
	color: #999;
	padding-left: 5px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	 display:table;
	 content:""; 
	 clear:both;
}
.foot{
	width: 100%;
	height:300px;
	background:#828282;
	color:white;
	margin:0 auto;
	margin-top: 50px;
	text-align:center;
	position: relative;
	box-sizing: border-box;
}
.foot li{
	list-style:none;
}
.foot h3{
	font-weight:400;
	font-size:18px;
}

.foot a{
	font-size:12px;
	color:white;
	text-decoration:none;
}

.foot a:hover{
	color:red;
}

.foot_1{
	margin-left:60px;
	margin-top:80px;
	line-height:30px;
}

.foot_1 h3{

	margin-bottom:20px;
}
.foot_2{
	margin-left:90px;
	margin-top:80px;
	line-height:30px;
}

.foot_2 h3{
	margin-bottom:20px;
}


.foot_3{
	margin-left:110px;
	margin-top:80px;
	line-height:30px;
}
.foot_3 h3{
	margin-bottom:20px;
}

.foot_4{
	margin-left:120px;
	margin-top:80px;
	line-height:30px;
}
.foot_4 h3{
	margin-bottom:20px;
}


.foot_5{
	margin-left:130px;
	margin-top:80px;
	line-height:30px;
}

.foot_5 h3{
	margin-bottom:20px;
}
.foot_6{
	position: absolute;
	top:-30px;
	right:130px;
	
}

.foot_6 img{
	margin-bottom:-50px;
}

.foot_6 h3{
	margin-bottom:20px;
	font-size:18px;
	font-weight:400;
}

.foot_6 p{
	font-size:14px;
}

.foot_7{
	background:#5d5c5c;
	height:60px;
	text-align:center;
	line-height:60px;
	font-size:10px;
	color:#373737;
}