h3{
	font-size:18px;
	font-family: "¬ו";
	font-weight:bold;
}


p {
    
	font-size: 12px ;
	font-family:"Times New Roman", "Times", "ו";
  
  	line-height: 20px;

}


p span {
    
	font-weight: bold;
    
	color: #F00;

}
